@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text" style="color:white">DANH SÁCH SẢN PHẨM</h2>
            <hr />
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-secondary" style="width:150px">
                <i class="bi bi-clipboard-plus-fill"> &nbsp; Thêm</i>
            </a>
        </div>
    </div>
</div>
<br /><br />
<h1>Index Category</h1>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Thứ tự
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>
